*{
	margin: 0;
	padding: 0;
}
.trello{
	width: 80%;
	margin: auto;
	background: whitesmoke;
}
.trello__header{
	text-align: center;
	padding: 20px;
	background: black;
}
.trello__body{
	display: flex;
	justify-content: space-between;
}
.trello__body > div{
	width: 250px;
	border: 1px solid black;
}
#sprint{
	background: green;
	text-align: center;
	padding: 10px 0;
}
#progress{
	background: aqua;
	text-align: center;
	padding: 10px 0;
}
#review{
	background: yellow;
	text-align: center;
	padding: 10px 0;
}
#done{
	background: red;
	text-align: center;
	padding: 10px 0;
}
.trello__removeTaskBtn{
	position: absolute;
	top: 5px;
	right: 5px;
	color: red;
	cursor: pointer;
}
.trello__task{
	position: relative;
	padding: 10px;
}