h1 {
  text-align: center;
}
.accordion-header {
  box-shadow: 0 -1px 0 #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
}
.accordion-header:first-child {
  box-shadow: none;
}
.accordion-header:hover {
  background-color: #ddd;
}
.accordion-content {
  display: none;
  padding: 10px;
}
.accordion-content ul > li {
  padding: 5px;
}
